﻿@model IList<ASECL.Models.Cert>
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to ASE ChungLi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../css/default.css" rel="stylesheet" type="text/css" />
    <link href="../css/ui_content.css" rel="stylesheet" type="text/css" />
</head>
<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-33905716-4', 'auto');
    ga('send', 'pageview');

</script>
<body>
    <div class="bodybox">
        <a name="top" id="top"></a>

        <div class="header">
            <div class="logo" title="ASEN"><a href="../index.html"></a></div>
            <div class="topmenuALL">
                <ul class="navigation">
                    <li><a href="CompanyOverview.html">About ASECL</a></li>
                    <li><a href="Products.html">Products</a></li>
                    <li><a href="CharacterizationServices.html">Services</a></li>
                    <li><a href="QualityPolicy.html">Quality Management</a></li>
                    <li><a href="HumanResourceDevelopment.html">Careers</a></li>
                </ul>
            </div>
            <div class="top"></div>
            <div class="navi_1">ASE ChungLi TOP > Quality Management > Quality Certification</div>
        </div>

        <div class="content">
            <div class="left_link">
                <ul class="navigation_3">
                    <li class="top_1"></li>
                    <li class="top_2">Quality Management</li>
                </ul>
                <ul class="navigation_1">
                    <li><a href="QualityPolicy.html">ASE Quality Policy</a></li>
                    <li><a href="KeyQualityRoadmap.html">Key Quality Roadmap</a></li>
                    <li><a href="QualityCertification.html">Quality Certification</a></li>
                    <li><a href="QAOrganization.html">QA Organization</a></li>
                </ul>
                <ul class="navigation_3">
                    <li class="top_3"></li>
                </ul>
                <ul class="navigation_2">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="Contact.html">Contact ASECL</a></li>
                    <li><a href="SiteMap.html">Site Map</a></li>
                </ul>
            </div>
            <div class="main_content">
                <h5>Quality Certification</h5>
                <img src="../images/line_ball.gif" width="640" height="4" style="padding-bottom:25px" />
                @foreach (var item in Model)
                {
                    <div style="height:226px; margin-bottom:40px" id="@item.Id">
                        <h4><a href="@item.File" target="_blank"><img src="@item.Image" width="160" border="0" style="float:right" /></a>@Html.Raw(item.Title.Replace("\n", "<br/>"))</h4>
                        <h1>
                            <ul>
                                @foreach( var str in item.Content.Split('\n') )
                                {
                                    <li>• @str</li>
                                }
                            </ul>
                        </h1>
                    </div>
                }
                
                <a href="#top"><img src="../images/top.gif" width="33" height="12" style="padding-bottom:25px; float:right" /></a><br />
                <img src="../images/line_ball.gif" width="640" height="4" style="padding-bottom:5px" /><br />
                <h6>
                    ©
                    <script type="text/javascript">myDate = new Date(); myYear = myDate.getFullYear(); document.write(myYear);</script> ASE ChungLi, All Rights Reserved. <a href="http://www.aseglobal.com/en/Terms/Index.asp" target="_blank">Terms of Use</a>
                </h6>
            </div>
        </div>

    </div>
</body>
</html>
