@charset "utf-8";
/* 基本定義 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
	font-size: 11px;
	-webkit-text-size-adjust: none;
}
fieldset,img{border:0;}
address,caption,cite,code,dfn,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym {border:0;font-variant:normal;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
table {font-size:inherit;font:100%;}
/* 參考樣板， 瀏覽器分類(css hack) */
/* 順序為FF IE7(前面加*) IE6(前面加_) 專用，順序不能改變 */
.hack {
	background:orange;
	*background:green;
	_background:blue; 
}                 
@media all and (min-width:0px){
/* Opera、Safari 、Chrome專用 */
.hack {
	background:orange;
}
}
