@charset "utf-8";
/* 初始化 */
body, ul, li, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a:link,a:active,a:visited { text-decoration:none; color:#F90;}
a:hover {text-decoration:none; color:#C00}
.bodybox {
	width:920px;
	/* [disabled]font-family:Verdana, Arial, Helvetica, sans-serif; */
	margin:20px auto;
}
/* 通用標題內文設定 h1大標....h6內文 */
h1{
	font-size:13px;
	font-weight:bold;
	line-height:22px;
	font-family:Verdana;
	color:#3d3d3d;
	padding-top:15px;
	padding-left:15px;
}
h2{
	font-size:12px;
	line-height:16px;
	font-family:Verdana;
	color:#3d3d3d;
}
h3{
	font-size:12px;
	font-weight:bold;
	line-height:24px;
	font-family:Verdana;
	padding-left:15px;
}
h4{
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	font-family:Verdana;
	color:#fff;
}
h5{
	font-size:12px;
	line-height:18px;
	font-family:Verdana;
	padding-left:30px;
}
h6{
	width:130px;
	padding: 4px 8px 6px 8px;
	font-size: 11px;
	font-weight:normal;
	font-family:Verdana;
	line-height:12px;
	text-align:left;	
	color:#fff;
	background:#3a415f;
}
h6 sup{font-size:7px;}
.header{
	width:920px;
	z-index:10;
}
.logo{
	width:661px;
	height:156px;			
	border-left:1px solid #fff;
	background:url(../images/logo.gif) no-repeat right top;
	background-color:#525F89;
	float:left;
}
.logo a{
	width:200px;
	height:95px;
	display:block;
}
.top_1{
	width:258px;
	height:156px;
	background:url(../images/point.gif);
	float:left;
}
.top_2{
	width:228px;
	padding:11px 15px;
	text-align:left;
	background-color:#9faace;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	float:left;
}
.top_3{
	width:200px;
	height:22px;
	padding: 73px 0px 0px 0px;
	text-align:center;
	font-family:Verdana;
	font-size:12px;
	background:url(../images/top_3.gif) no-repeat left top;
	float:left;
}
.top_4{
	width:200px;
	height:115px;
	background:url(../images/top_4.jpg) no-repeat left top;
	float:left;
}
.top_5{
	width:820px;
	height:90px;
	background:url(../images/top_5.jpg) no-repeat left top;
	float:left;
}
/* Menu */
.topmenuALL {
	width:662px;
	height:45px;
	float:left;
	background-color:#525F89;
}
ul, li {
	list-style: none;
}
/* 選單 li 之樣式 */
ul.navigation li {
	text-align:right;
	font-size: 12px;
	font-weight:bold;
	font-family:Verdana;
	line-height:14px;
	position: relative;
	float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation li a{
	display: block;
	width:110px;
	padding: 8px 11px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	background: #525F89;
	color: #FFF;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation > li > a:hover{
	color: #fff;
	background: #3a415f;
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation ul{
	display: none;
	float: left;
	position: absolute;		
	left:1px;
	bottom:46px;	
	margin: 0;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation li:hover > ul{
	display: block;
}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation ul li {
	border-bottom:none;
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation ul li:last-child {
	border-bottom: none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation ul a {
	width:175px;
	padding: 4px 8px 5px 8px;
	font-size: 11px;
	font-weight:normal;
	font-family:Verdana;
	line-height:11px;
	text-align:left;	
	color:#fff;
	background:#3a415f;
	border-top:none;
	border-left:none;
	border-bottom:none;	
}
ul.navigation ul a:hover {	
	background:#000;		
}
/* 選單 li 之樣式 -1 */
ul.navigation_1 li {
	text-align:right;
	font-size: 12px;
	font-weight:bold;
	font-family:Verdana;
	line-height:14px;
	position: relative;
	float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_1 li a{
	display: block;
	width:109px;
	padding: 8px 11px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	background: #525F89;
	color: #FFF;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_1 > li > a:hover{
	color: #fff;
	background: #3a415f;
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation_1 ul{
	display: none;
	float: left;
	position: absolute;		
	left:1px;
	bottom:46px;	
	margin: 0;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation_1 li:hover > ul{
	display: block;
}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation_1 ul li {
	border-bottom:none;
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation_1 ul li:last-child {
	border-bottom:none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation_1 ul a {
	width:150px;
	padding: 4px 8px 6px 8px;
	font-size: 11px;
	font-weight:normal;
	font-family:Verdana;
	line-height:12px;
	text-align:left;	
	color:#fff;
	background:#3a415f;
	border-top:none;
	border-left:none;
	border-bottom:none;				
}
ul.navigation_1 ul a:hover {	
	background:#000;		
}
/* 選單 li 之樣式 -2 */
ul.navigation_2 li {
	text-align:right;
	font-size: 12px;
	font-weight:bold;
	font-family:Verdana;
	line-height:14px;
	position: relative;
	float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_2 li a{
	display: block;
	width:110px;
	padding: 8px 11px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	background: #525F89;
	color: #FFF;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_2 > li > a:hover{
	color: #fff;
	background: #3a415f;
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation_2 ul{
	display: none;
	float: left;
	position: absolute;		
	left:-13px;
	bottom:46px;	
	margin: 0;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation_2 li:hover > ul{
	display: block;
}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation_2 ul li {
	border-bottom:none;
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation_2 ul li:last-child {
	border-bottom: none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation_2 ul a {
	width:130px;
	padding: 3px 8px 5px 8px;
	font-size: 11px;
	font-weight:normal;
	font-family:Verdana;
	line-height:12px;
	text-align:left;	
	color:#fff;
	background:#3a415f;
	border-top:none;
	border-left:none;
	border-bottom:none;				
}
ul.navigation_2 ul a:hover {	
	background:#000;		
}
/* content */
.content{
	width:920px;
	background-color:#d9d9d9;
	float:left;
}
.link{
	width:258px;
	text-align:left;
	float:left;
}
.link_title{
	font-size:12px;
	font-weight:bold;
	line-height:20px;
	color:#C00;
}
.link_content{
	font-size:12px;
	line-height:20px;
	color:#fff;
}
.main_pic{
	width:661px;
	padding:0px;
	text-align:left;
	float:left;
	background-color:#fff;
	border-left:1px solid #fff;
}
.main_content{
	width:544px;
	padding:30px;
	text-align:left;
	float:left;
	border-left:1px solid #fff;
	background-color:#525F89;
}
.table{
	font-size:13px;
	line-height:22px;
	font-family:Verdana;
	color:#3d3d3d;
}
.menu{
	font-size:11px;
	font-family:Verdana;
	font-weight:normal;
	color:#3d3d3d;
}


.banner {
	width:661px;
	padding:0px;
	float:left;
	position:relative;
}

/* 按鈕-1 */
.mouse-over1 {
	position:relative;
	float:left;
	text-align:center;
	border-top:1px solid #fff;
	background: #ddd;
}
.mouse-over1 a{
	width:132px;
	height:19px;
	padding:94px 0px 0px 0px;
	display:block;
	background:url(../images/banner_bt1.jpg) no-repeat;
}
.mouse-over1 a:hover{
	background-color:#bbb;
}

/* 按鈕-2 */
.mouse-over2 {
	position:relative;
	float:left;
	text-align:center;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	background: #ddd;
}
.mouse-over2 a{
	width:131px;
	height:19px;
	padding:94px 0px 0px 0px;
	display:block;
	background:url(../images/banner_bt2.jpg) no-repeat;
}
.mouse-over2 a:hover{
	background-color:#bbb;
}

/* 按鈕-3 */
.mouse-over3 {
	position:relative;
	float:left;
	text-align:center;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	background: #ddd;
}
.mouse-over3 a{
	width:131px;
	height:19px;
	padding:94px 0px 0px 0px;
	display:block;
	background:url(../images/banner_bt3.jpg) no-repeat;
}
.mouse-over3 a:hover{
	background-color:#bbb;
}

/* 按鈕-4 */
.mouse-over4 {
	position:relative;
	float:left;
	text-align:center;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	background: #ddd;
}
.mouse-over4 a{
	width:131px;
	height:19px;
	padding:94px 0px 0px 0px;
	display:block;
	background:url(../images/banner_bt4.jpg) no-repeat;
}
.mouse-over4 a:hover{
	background-color:#bbb;
}

/* 按鈕-5 */
.mouse-over5 {
	position:relative;
	float:left;
	text-align:center;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	background: #ddd;
}
.mouse-over5 a{
	width:132px;
	height:19px;
	padding:94px 0px 0px 0px;
	display:block;
	background:url(../images/banner_bt5.jpg) no-repeat;
}
.mouse-over5 a:hover{
	background-color:#bbb;
}
/* footer */
.footer{
	width:920px;
	background-color:#525F89;
	float:left;
	border-top:1px solid #fff;
}
.url{
	width:229px;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#fff;
	text-align:left;
	padding:4px 15px;
	float:left;
}
.copyright{
	width:639px;
	font-size:10px;
	font-family:Verdana;
	color:#fff;
	text-align:right;
	padding:4px 11px;
	float:left;
}