@charset "utf-8";
/* 初始化 */
body, ul, li, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a:link,a:active,a:visited { text-decoration:none; color:#8a0000;}
a:hover {text-decoration:none}
.bodybox {
	width:925px;
	/* [disabled]font-family:Verdana, Arial, Helvetica, sans-serif; */
	margin:20px auto;
}
/* 通用標題內文設定 h1大標....h6內文 */
h1{
	font-size:11px;
	line-height:18px;
	font-family:Verdana;
	color:#3d3d3d;
	padding-bottom:25px;
}
h2{
	font-size:12px;
	line-height:26px;
	font-weight:bold;
	font-family:Verdana;
	color:#555;
}
h3{
	font-size:12px;
	line-height:18px;
	font-family:Verdana;
	font-weight:bold;
	color:#555;
	border-bottom-style:dotted;
	border-width: 0px 0px 2px 0px;
	border-color: #aaa;
}
h4{
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	font-family:Verdana;
	font-weight:bold;
	color:#3d3d3d;
	padding-bottom:10px;
}
h5{
	font-size:18px;
	font-family:Verdana;
	font-weight:bold;
	color:#3d3d3d;
	padding-bottom:10px;
}
h6{
	font-size:10px;
	font-family:Verdana;
	color:#aaa;
	text-align:right;
	padding-bottom:10px;
}
h6 sup{font-size:7px;}
.header{
	width:925px;
	margin:0 auto;
	z-index:10;
}
.logo{
	width:924px;
	height:75px;			
	border-left:1px solid #fff;
	background:url(../images/logo-1.gif) no-repeat left top;
	background-color:#525F89;
	float:left;
}
.logo a{
	width:240px;
	height:75px;
	display:block;
}
.top{
	width:184px;
	height:17px;
	background-color:#ccc;
	float:left;
	border-left:1px solid #fff;
}
.navi_1{
	width:739px;
	padding: 3px 0px;
	font-size: 10px;
	font-family:Verdana;
	color:#808080;
	text-align:right;
	background-color:#fff;
	float:left;
	border-left:1px solid #fff;
}
.top_1{
	width:184px;
	height:66px;
	background:url(../images/top_1_bg.gif);
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	float:left;
}
.top_2{
	width:154px;
	padding: 6px 15px;
	text-align:left;
	font-size: 11px;
	font-weight:bold;
	color:#FFF;
	background-color:#525F89;
	float:left;
}
.top_3{
	width:184px;
	height:18px;
	background:url(../images/top_1_bg.gif);
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	float:left;
}
.top_4{
	width:92px;
	padding:6px 0px;
	text-align:center;
	color:#454545;
	font-weight:bold;
	background-color:#949ec0;
	float:left;
}
.top_5{
	width:184px;
	height:25px;
	background-color:#e4eafe;
	float:left;
}
/* Menu */
.topmenuALL {
	width:925px;
	float:left;
	background-color:#525F89;
}
ul, li {
	list-style: none;
}
/* 選單 li 之樣式 */
ul.navigation li {
	text-align:center;
	font-size: 12px;
	font-weight:bold;
	font-family:Verdana;
	position:relative;
	float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation li a{
	display: block;
	width:184px;
	padding: 4px 0px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	background: #525F89;
	color: #FFF;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation > li > a:hover{
	color: #fff;
	background: #3a415f;
}
/* 選單 li 之樣式-1 */
ul.navigation_1 li {
	font-size: 11px;
	font-family:Verdana;
	line-height:13px;
	position:relative;
	float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_1 li a{
	display: block;
	width:154px;
	padding: 6px 15px;
	background: #e4eafe;
	color: #454545;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_1 > li > a:hover{
	background: #cbd0ec;
}
/* 選單 li 之樣式-1 */
ul.navigation_11 li {
	font-size: 11px;
	font-family:Verdana;
	line-height:13px;
	position:relative;
	float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_11 li a{
	display: block;
	width:134px;
	padding: 6px 25px;
	background: #f5f5f5;
	color: #454545;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_11 > li > a:hover{
	background: #daddf3;
}
/* 選單 li 之樣式-2 */
ul.navigation_2 li {
	font-size: 11px;
	font-family:Verdana;
	line-height:13px;
	position:relative;
	float:left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_2 li a{
	display: block;
	width:154px;
	padding: 6px 14px;
	background: #dadada;
	color: #454545;
	border-top:1px solid #7f7f7f;
	border-left:1px solid #7f7f7f;
	border-right:1px solid #7f7f7f;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_2 > li > a:hover{
	background: #fff;
}
/* 選單 li 之樣式-3 */
ul.navigation_3 li {
	font-size: 11px;
	font-family:Verdana;
	line-height:13px;
	position:relative;
	float:left;
}
/* 選單 li 之樣式-4 */
ul.navigation_4 li {
	font-size: 12px;
	font-family:Verdana;
	font-weight:bold;
	line-height:13px;
	color:#454545;
	text-align:center;
	position:relative;
	float:left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_4 li a{
	display: block;
	width:92px;
	padding: 6px 0px;
	background: #ccc;
	color: #454545;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_4 > li > a:hover{
	background: #949ec0;
}
/* content */
.content{
	width:924px;
	float:left;
	border-left:1px solid #fff;
}
.left_link{
	width:184px;
	float:left;
	border-bottom:1px solid #7f7f7f;
}
.main_content{
	width:640px;
	padding:50px 50px 0px 50px;
	text-align:left;
	float:left;
}
.table_content{
	font-size:11px;
	line-height:18px;
	font-family:Verdana;
	color:#3d3d3d;
}
.table_title{
	font-size:12px;
	line-height:18px;
	font-family:Verdana;
	padding-left:5px;
	color:#fff;
}
#title{
	font-size:12px;
	font-weight:bold;
	font-family:Verdana;
	color:#FFFFFF;
	background-color:#999999;
	padding:5px;
	margin:20px 0 10px 0;
}
#content{
	font-size:11px;
	font-family:Verdana;
	line-height:18px;
	color:#3d3d3d;
	padding:5px;
	margin-bottom:20px;
}
#content table td{
	font-size:11px;
	font-family:Verdana;
	line-height:18px;
	color:#3d3d3d;
}
/* footer */
.footer{
	width:924px;
	float:left;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
}
.copyright{
	width:824px;
	font-size:10px;
	font-family:Verdana;
	color:#aaa;
	text-align:right;
	paddingt:3px 50px;
}