@charset "utf-8";

.banner {
	width:520px;
	padding:0px 60px 25px 60px;
	float:left;
	position:relative;
}

/* 按鈕-1 */
.mouse-over1 {
	position:relative;
	float:left;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.mouse-over1 a{
	width:129px;
	height:123px;
	display:block;
	background:url(../images/products_bt3.gif) no-repeat;
}
.mouse-over1 a:hover{
	background:url(../images/products_bt3over.gif) no-repeat;
}

/* 按鈕-2 */
.mouse-over2 {
	position:relative;
	float:left;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.mouse-over2 a{
	width:129px;
	height:123px;
	display:block;
	background:url(../images/products_bt4.gif) no-repeat;
}
.mouse-over2 a:hover{
	background:url(../images/products_bt4over.gif) no-repeat;
}

/* 按鈕-3 */
.mouse-over3 {
	position:relative;
	float:left;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.mouse-over3 a{
	width:129px;
	height:123px;
	display:block;
	background:url(../images/products_bt2.gif) no-repeat;
}
.mouse-over3 a:hover{
	background:url(../images/products_bt2over.gif) no-repeat;
}

/* 按鈕-4 */
.mouse-over4 {
	position:relative;
	float:left;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.mouse-over4 a{
	width:129px;
	height:123px;
	display:block;
	background:url(../images/products_bt1.gif) no-repeat;
}
.mouse-over4 a:hover{
	background:url(../images/products_bt1over.gif) no-repeat;
}

/* 按鈕-5 */
.mouse-over5 {
	position:relative;
	float:left;
	border-right:1px solid #fff;
}
.mouse-over5 a{
	width:129px;
	height:123px;
	display:block;
	background:url(../images/products_bt5.gif) no-repeat;
}
.mouse-over5 a:hover{
	background:url(../images/products_bt5over.gif) no-repeat;
}

/* 按鈕-6 */
.mouse-over6 {
	position:relative;
	float:left;
	border-right:1px solid #fff;
}
.mouse-over6 a{
	width:129px;
	height:123px;
	display:block;
	background:url(../images/products_bt7.gif) no-repeat;
}
.mouse-over6 a:hover{
	background:url(../images/products_bt7over.gif) no-repeat;
}

/* 按鈕-7 */
.mouse-over7 {
	width:129px;
	height:123px;
	position:relative;
	float:left;
	border-right:1px solid #fff;
	background:#BABABA;
}

/* 按鈕-8 */
.mouse-over8 {
	width:128px;
	height:123px;
	position:relative;
	float:left;
	border-right:2px solid #fff;
	background:#BABABA;
}
